################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/minesweeper test/FileContentIndex/47aef587-f12a-4241-8757-6c6fe50eeb06.vsidx
/.vs/minesweeper test/FileContentIndex/b01071d4-482c-4b07-a92a-365ff5577dca.vsidx
/.vs/minesweeper test/FileContentIndex
